<!DOCTYPE html> 
<head>
    <title>New User Registration</title>
</head>
<body>
    <h1>How to Create a New User Registration Form</h1>
    <h4>python django web tutorials</h4>
    <hr/>
    <form method="POST">
        {% csrf_token %}
    <table border="1">
        <tr>
            <td>User Name</td>
            <td><input type="text" placeholder="Enter User Name..." name="uname" required></td>
        </tr>
        <tr>
            <td>Email</td>
            <td><input type="email" placeholder="Enter Email..." name="uemail" required></td>
        </tr>
        <tr>
            <td>Password</td>
            <td><input type="password" placeholder="Enter Password..." name="pwd" required onchange="form.repwd.pattern=this.value"></td>
        </tr>
        <tr>
            <td>Re-Password</td>
            <td><input type="password" placeholder="Enter Re-Password..." name="repwd" pattern="" required></td>
        </tr>
        <tr>
            <td>Marital Status</td>
            <td>
                <select name="maritalstatus">
                    <option select disabled="true">-- Marital Status --</option>
                    <option>Married</option>
                    <option>Unmarried</option>
                    <option>Widdow</option>
                </select>
            </td>
        </tr>
        <tr>
            <td>Gender</td>
            <td><input type="radio" value="M" name="gender"/>Male | <input type="radio" value="F" name="gender"/>Female</td>
        </tr>
    </table>
    <hr/>
        <input type="submit" value="submit"/>
        {% if messages %}
        {% for result in messages %}
        <b style="color: green;">{{result}}</b>
        {% endfor %}
        {% endif %}
    </form>
</body>
</html>